<!-- Heading Row -->
{{!-- {{#if data}}
{{/if}} --}}
{{#each data}}

<!-- Content Row -->
<div class="row">
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            <div class="card-body">
                <h2 class="card-title">{{title}}</h2>
                <img class="img-fluid rounded" src="{{image}}" alt="{{title}}">
                <p class="card-text">{{matn}}</p>
            </div>
            <div class="card-footer">
                <a href="{{id}}" class="btn btn-primary">More Info</a>
            </div>
        </div>
    </div>
</div>


{{/each}}