<div class="row mb-2">
    <div class="col-md-6">
        <div class="card flex-md-row mb-4 box-shadow h-md-250">
            <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                    <a class="text-dark" href="#">{{data.title}}</a>
                </h3>
                <img class="card-img-right flex-auto d-none d-md-block" height="450px" width="450px" src="{{data.image}}">

                <div class="mb-1 text-muted">{{formatDate data.date 'MMMM Do YYYY'}}</div>
                <p class="card-text mb-auto">{{data.matn}}</p>

                <hr> {{#each data.comments}}
                <h4>{{commentUser}} :</h4>
                <p>{{commentBody}}</p>
                {{/each}} {{#if user}}
                <form action="/posts/comment/{{data.id}}" method="POST">
                    <div class="form-group">
                        <label for="comment">Comment:</label>
                        <textarea class="form-control" rows="5" id="comment" name="cmbody"></textarea>
                        <button type="submit">Submit</button>
                    </div>
                </form>
                {{else}}
                <a href="/login">Please login to leave a comment</a>
                {{/if}}
            </div>

        </div>
    </div>